{{ define "body" }}
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Go Micro HT</title>
  </head>
  <body>
    <h1>Go Micro T</h1>
    <p>{{ .message }}</p>
  </body>
</html>

{{ end }}
